@model Hospital.Models.School

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>School</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoundedYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoundedYear)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SchoolId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
